@theme {
  --color-primary: hsl(244, 36%, 23%);
  --color-primary-shade-1: hsl(244, 36%, 13%);
  --color-primary-shade-2: hsl(244, 36%, 3%);
  --color-primary-text: hsl(0, 0%, 80%);

  --color-secondary: hsl(244, 36%, 13%);
  --color-secondary-shade-1: hsl(244, 36%, 13%);
  --color-secondary-shade-2: hsl(244, 36%, 13%);
  --color-secondary-text: hsl(0, 0%, 80%);

  --color-tertiary: hsl(0, 0%, 80%);
  --color-tertiary-shade-1: hsl(0, 0%, 100%);
  --color-tertiary-shade-2: hsl(0, 0%, 100%);
  --color-tertiary-text: hsl(0, 0%, 10%);

  --color-accent-1: hsl(44, 82%, 56%);
  --color-accent-1-shade-1: hsl(44°, 78%, 82%);
  --color-accent-1-shade-2: hsl(44°, 78%, 72%);
  --color-accent-1-text: hsl(0, 0%, 100%);

  --color-accent-2: hsl(245, 22%, 29%);
  --color-accent-2-shade-1: hsl(160, 65%, 34%);
  --color-accent-2-shade-2: hsl(160, 65%, 26%);
  --color-accent-2-text: hsl(0, 0%, 100%);

  --color-accent-3: rgba(0, 0, 0, 0.3);

  --color-accent-4: hsl(160, 65%, 34%);

  --color-error-red: #ff583e;

  --color-tint-dark: hsl(0, 0%, 35%);
  --color-tint-light: hsl(0, 0%, 70%);

  --height-nav: 80px;
  --height-main: 100vh;

  --width-content-xs: 600px;
  --width-content-sm: 800px;
  --width-content-base: 1000px;
  --width-content-md: 1200px;
  --width-content-lg: 1400px;
  --width-content-xl: 1600px;
  --width-content-full: 90vw;

  --padding-match-nav: var(--height-nav);
  --padding-nav-x: 20px;
  --padding-nav-y: 0;
  --padding-section-x: 0;
  --padding-section-y: 60px;

  --font-main: "Sofia Pro Regular";
}